@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  padding: 30px 25px;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav > * {
  padding: 5px;
}

.logo-text {
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.title-text {
  color: #deebf8;
  font-weight: 600;
}

main {
  background-color: #282d35;
  height: 100vh;
}

h1 {
  color: white;
  padding-left: 27px;
  padding-top: 57px;
  padding-bottom: 46px;
}

li {
  color: #ffffff;
}

ul {
  padding: 50px;
}

ul > li {
  padding-bottom: 20px;
}
