@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  padding: 30px 25px;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav > * {
  padding: 5px;
}

.logo-text {
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.title-text {
  color: #deebf8;
  font-weight: 600;
}

main {
  background-color: #282d35;
  background-image: url("../src/images/react-icon.png");
  background-repeat: no-repeat;
  background-position: right center;

  height: 100vh;
  padding: 57px 27px;
}

h1 {
  color: white;
  font-size: 39px;
  letter-spacing: -0.05em;
  margin: 0;
}

li {
  color: #ffffff;
  line-height: 19px;
  padding-block: 10px;
}

li::marker {
  color: #61dafb;
  font-size: 1.6rem;
}

ul {
  margin-top: 46px;
  max-width: 400px;
  padding-left: 50px;
}
