@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  padding: 30px 25px;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav > * {
  padding: 5px;
}

.logo-text {
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.title-text {
  color: #deebf8;
  font-weight: 600;
}

main {
  background-color: #282d35;
  background-image: url("../src/images/react-icon.png");
  background-repeat: no-repeat;
  background-position: right center;
  height: 100vh;
  padding: 57px 27px;
}

h1 {
  color: white;
  font-size: 39px;
  letter-spacing: -0.05em;
  margin: 0;
}

li {
  color: #ffffff;
  line-height: 19px;
  padding-block: 10px;
}

li::marker {
  color: #61dafb;
  font-size: 1.6rem;
}

ul {
  margin-top: 46px;
  max-width: 400px;
  padding-left: 50px;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler-dark {
  color: #ffffff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
